  /* Styles for the about section */
  .about-section {
    background-color: #f5f5f5;
    padding: 4rem 2rem;
    text-align: center;
  }
  .about-content{
    height: 545px;
    overflow: auto;

    
  }
  
  /* Styles for the about title */
  .about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Styles for the about description */
  .about-description {
    font-size: 1.2rem;
    color: #555;
    
  }
  @media screen and (max-width: 768px) {
    .about-title {
        font-size: 1.8rem;
      }
    
      .about-description {
        font-size: 1rem;
        
      }
  }