
  /* Styles for the contact section */
  .contact-section {
    background-color: #fff;
    padding: 4rem 2rem;
    text-align: center;
    
  }
  .contact-content{
    height: 540px;
  }
  
  /* Styles for the contact title */
  .contact-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Styles for the contact form */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the form group */
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  /* Styles for the form label */
  .form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  /* Styles for the form input and textarea */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Styles for the submit button */
  .submit-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }